node_modules
.next
.next-build*
dist
out
.DS_Store
.vscode
*.log
*.lock
coverage
.data
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/lib/generated/prisma
/app/generated/prisma
/generated/prisma
generated
.codex
.playwright*
.seo-cache/
*.tsbuildinfo
*.sql
!prisma/migrations/**/*.sql
*.png
*.jpg
docs/
*.md
.agents
